@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --Dark-blue-photography-text: hsl(198, 62%, 26%);
  -dark-moderate-cyan-footer: hsl(168, 34%, 41%);

  /* ### Neutral */

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

  /* fonts */
  --font-Barlow: "Barlow", sans-serif;
  --font-Fraunces: "Fraunces", sans-serif;
}

header {
  background: url("/public/images/mobile/image-header.jpg");
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header--heading {
  font-family: var(--font-Fraunces);
  font-size: 2.5rem;
  text-align: center;
}

header ul {
  font-family: var(--font-Barlow);
}

header ul li:last-child {
  font-family: var(--font-Fraunces);
}

.nav--list {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 1.5rem;
  background: white;
  position: absolute;
  top: -350px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  align-items: center;
  color: var(--Very-dark-grayish-blue);
  text-align: center;
  width: 80%;
  transition: all 0.3s linear;
}

.nav--list.active {
  top: 120px;
}

.nav--list:after {
  position: absolute;
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid #fff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid #fff;
  right: 0;
  top: -38px;
}

.nav--list li {
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.nav--list li:hover {
  color: var(--Very-dark-desaturated-blue);
}

.nav--list li:last-child {
  background: yellow;
  color: var(--Very-dark-desaturated-blue);
  width: fit-content;
  border-radius: 30px;
}

.nav--list li:last-child:hover {
  color: var(--Very-dark-grayish-blue);
}

.arrow-style {
  transform: translateX(0px) rotate(0deg);
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

/* First Section */
.first--wrapper {
  font-family: var(--font-Barlow);
}

.first--section p {
  font-weight: 600;
}

.first--section button {
  font-family: var(--font-Fraunces);
  font-weight: 900;
}

.first--section h2 {
  font-family: var(--font-Fraunces);
  font-size: 2rem;
  font-weight: 900;
  width: 50%;
}

.first--section .img--wrapper {
  height: 400px;
  display: flex;
  width: 100%;
}

.img--wrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* Feature Section */
.graphic--wrapper {
  background: url("/public/images/mobile/image-graphic-design.jpg") no-repeat;
  background-size: cover;
  height: 650px;
  width: 100%;
}

.feature--wrapper h3 {
  font-family: var(--font-Fraunces);
  font-weight: 900;
}

.feature--wrapper p {
  font-family: var(--font-Barlow);
  min-width: 300px;
  width: 75%;
  max-width: 400px;
}

.photography--wrapper {
  background: url("/public/images/mobile/image-photography.jpg") no-repeat;
  background-size: cover;
  height: 650px;
  width: 100%;
}

/* Testimonials Wrapper */
.testimonials--wrapper h4 {
  font-family: var(--font-Fraunces);
}

.testimonials p {
  width: 300px;
  font-family: var(--font-Barlow);
}

.bio--container .name {
  font-family: var(--font-Fraunces);
}

.bio--container .role {
  font-family: var(--font-Barlow);
  font-size: 0.9rem;
}

/* Gallery Wrapper */
.gallery {
  height: 280px;
}

.gallery:nth-child(1) {
  background: url("/public/images/mobile/image-gallery-milkbottles.jpg")
    no-repeat center;
  background-size: cover;
}

.gallery:nth-child(2) {
  background: url("/public/images/mobile/image-gallery-orange.jpg") no-repeat
    center;
  background-size: cover;
}

.gallery:nth-child(3) {
  background: url("/public/images/mobile/image-gallery-cone.jpg") no-repeat
    center;
  background-size: cover;
}

.gallery:nth-child(4) {
  background: url("/public/images/mobile/image-gallery-sugar-cubes.jpg")
    no-repeat center;
  background-size: cover;
}

footer {
  font-family: var(--font-Barlow);
}

@media Screen and (min-width: 768px) {
  header {
    background: url("/public/images/desktop/image-header.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .header--heading {
    font-size: 3rem;
    letter-spacing: 8px;
  }

  .nav--list {
    position: static;
    transform: translate(0px);
    flex-direction: row;
    width: fit-content;
    padding: 1rem;
    background: transparent;
    box-shadow: none;
  }

  .nav--list li {
    color: #fff;
  }

  .nav--list li:last-child {
    background: #fff;
  }

  .nav--list li:last-child:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #000;
  }

  .nav--list:after {
    display: none;
  }

  /* First Section */
  .first--section h2 {
    width: 50%;
  }

  .first--section .second {
    width: 70%;
  }

  .img--wrapper {
    width: 100%;
    height: 500px;
  }

  .img--wrapper img {
    height: 500px;
  }

  .text--wrapper {
    height: 500px;
  }

  .text--wrapper {
    width: 100%;
  }

  /* Features Wrapper */
  .photography--wrapper {
    background: url("/public/images/desktop/image-photography.jpg") no-repeat
      center;
    background-size: cover;
    height: 550px;
    width: 100%;
  }

  .graphic--wrapper {
    background: url("/public/images/desktop/image-graphic-design.jpg") no-repeat
      center;
    background-size: cover;
    height: 550px;
    width: 100%;
  }

  .feature--wrapper p {
    width: 350px;
  }

  /* Gallery Wrapper */
  .gallery {
    height: 400px;
  }

  .gallery:nth-child(1) {
    background: url("/public/images/desktop/image-gallery-milkbottles.jpg")
      no-repeat center;
    background-size: cover;
  }

  .gallery:nth-child(2) {
    background: url("/public/images/desktop/image-gallery-orange.jpg") no-repeat
      center;
    background-size: cover;
  }

  .gallery:nth-child(3) {
    background: url("/public/images/desktop/image-gallery-cone.jpg") no-repeat
      center;
    background-size: cover;
  }

  .gallery:nth-child(4) {
    background: url("/public/images/desktop/image-gallery-sugarcubes.jpg")
      no-repeat center;
    background-size: cover;
  }
}
