@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --Dark-blue-photography-text: hsl(198, 62%, 26%);
  -dark-moderate-cyan-footer: hsl(168, 34%, 41%);

  /* ### Neutral */

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

  /* fonts */
  --font-Barlow: "Barlow", sans-serif;
  --font-Fraunces: "Fraunces", sans-serif;
}

header {
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header--heading {
  font-family: var(--font-Fraunces);
  font-size: 2.5rem;
  text-align: center;
}
header ul {
  font-family: var(--font-Barlow);
}
header ul li:last-child {
  font-family: var(--font-Fraunces);
}

.nav--list {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 1.5rem;
  background: white;
  position: absolute;
  top: -350px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  align-items: center;
  color: var(--Very-dark-grayish-blue);
  text-align: center;
  width: 80%;
  transition: all 0.3s linear;
}
.nav--list.active {
  top: 120px;
}
.nav--list:after {
  position: absolute;
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid #fff;
  border-top: 20px solid transparent;
  border-bottom: 20px solid #fff;
  right: 0;
  top: -38px;
}
.nav--list li {
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
.nav--list li:hover {
  color: var(--Very-dark-desaturated-blue);
}
.nav--list li:last-child {
  background: yellow;
  color: var(--Very-dark-desaturated-blue);
  width: fit-content;
  border-radius: 30px;
}
.nav--list li:last-child:hover {
  color: var(--Very-dark-grayish-blue);
}
